/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    color: #ffff00;
}

html {
    scroll-behavior: smooth;
  }

/* Main */

.container{
    height: 100vh;
    width: 100%;
}

#uno{
    background-color: #ff0000;
}

#due{
    background-color: #008000;
}

#tre{
    background-color: #ffff00;
}


img{
    position: relative;
    left: 25%
    ;
}

.title-container{
    width: 480px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.converse{
    position: relative;
    top: 60px;
}

#verde{
    color: #008000;
}

#menu{
text-align: right;
position: fixed;
right: 10px;
top: 30px;
}

li{
    display: inline-block;
}

a{
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}